// Colors
$darkBlue: #2d314d;
$limeGreen: #31d35c;
$brightCyan: #2bb7da;
$grayBlue: #9698a6;
$lightGrayBlue: #f3f4f6;
$veryLightGray: #fafafa;
$white: #ffffff;

// Font sizes
$font-sm: 0.875rem; // 14px
$font-med: 1.125rem; // 18px
$font-lg: 1.25rem; // 20px
$font-xl: 3.25rem; // 52px
